:root { --variable-name: value;
}

selector {
    property: var(--variable-name);
}
@import
url("https://fonts.googleapis.com/css2?family=roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables*/
:root {
    --font-family: "roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: purple;
    --secondary-color: #f18a15;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/*variables end*/

html {
    scroll-behavior: smooth;
}

/* css resets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border box;
}
ul {
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    margin: 8px;
}

nav ul li {
    font-weight: var(--bold-font);
}
.burger-menu {
    display: block;
}
 nav ul.show {
     transform: translateX(0);
 }

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}
.hero img{
    height: 20rem;
    width: 20rem;
}
.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}
.bio h1 {
    margin-bottom: var(--line-height);
}
.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}
.more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}
.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}
.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}
.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    max-width: 40.75rem;
    margin:  0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}
.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}
.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}
footer{
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}
 @media screen and (max-width: 720px) {
     /*changes reflects on screen with a width of 720px and below*/
 }
.contact-form-container {
    max-width: 23.75rem;
}

@media screen and (max-width: 420px) {
    .hero img {
        height: 37.5rem;
        width: 23rem;
    }
    .bio {
        width: 18.3rem;
    }

    .contact-form-container {
        max-width: 17.75rem;
    }
    }




